/* login button */
.btn_login {
  padding: 18px 40px;
}

/* login button hover effect use */
.btn_login:hover {
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}

.line_h28 {
  line-height: 28.5px;
}

/* navbar icons in hover effect  */
.iconsnav a {
  transition: all 0.3s linear;
}

.iconsnav a:hover {
  transform: translateY(-5px);
}

/* navbar hover effect use text bottom line use before */
.nav_hvoer {
  position: relative;
}

.nav_hvoer::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  background-color: white;
  border-radius: 5px;
  transition: all 300ms linear;
}

.nav_hvoer:hover::before {
  width: 100%;
  left: 0;
}

/* hero section backgound image */
.bg_heroimg {
  background-image: url(./assets/img/webp/herobg_image.webp);
  background-repeat: no-repeat;
  top: 0;
  background-size: cover;
  height: 108vh;
}

/* scroll button in hero section letter spacing and transform rotate 90deg */
.letters_2px {
  letter-spacing: 2px;
}

.transforr_90 {
  transform: rotate(90deg);
}

/* scroll button in hero section let and right position set */
.top_left {
  top: 63px;
  left: 28%;
}

/*What Our Clients Say About Us section in card slick slider height same */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide>div {
  display: flex;
}

/* background image product page hero section */
.bg_productimg {
  background-image: url(./assets/img/webp/productimg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

/* slick slider button next and previous and hover effect */
.btn_slider {
  border-radius: 6px;
  background: white;
  box-shadow: 0px 8px 40px 0px rgba(61, 72, 98, 0.2);
  width: 50px;
  height: 50px;
}

.btn_slider:hover {
  background: #034ef7;
  cursor: pointer;
}

.btn_slider:hover svg path {
  stroke: white;
}

.mw_534 {
  max-width: 534px;
}

/* background image Game Hosting, simplified section */
.bg_imggrap {
  background-image: url(./assets/img/webp/grapbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* /friendly image width in our clients say about us section */
.friendlyimg {
  width: 110px;
}

/* Trustpilot image width 127px in our clients say about us section */
.trustpilotwidth {
  width: 127px;
}

/* Yellow star width 18px in our clients say about us section */
.yellowstartwidth {
  width: 18px;
}

/* like icon width 48px in our clients say about us section */
.likethem_w48 {
  width: 48px;
}

/*www.ComeUp.ai input and placholder */
.wwwcome input {
  outline: none;
}

.wwwcome ::placeholder {
  color: var(--color-clr-gray);
  font-family: DM Sans;
  font-size: 17.071px;
  font-style: normal;
  font-weight: 400;
}

/* buttion submit in newsletter section */
.btn_subimt {
  border-radius: 5px;
  background: linear-gradient(27deg,
      rgba(0, 63, 243, 0.8) 0%,
      rgba(48, 156, 255, 0.8) 100%),
    linear-gradient(0deg, #2898ff 0%, #2898ff 100%), #ff604b;
  padding: 15px 38px;
  transition: all 0.3s linear;
}

/* hvoer effect buttion submit in newsletter section */
.btn_subimt:hover {
  background: white;
  color: black !important;
}

/* email input and placeholder use in newslatter section */
.emailinput input {
  outline: none;
}

.emailinput input::placeholder {
  font-family: "Inter";
  color: var(--color-clr-graylight);
  font-weight: normal;
  font-size: var(--fs-lg);
}

/* footer background image */
.bg_footerimg {
  background-image: url(./assets/img/png/bgfooter.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 150px 150px 0 0;
}

@media (max-width: 576px) {
  .mw_534 {
    max-width: 292px;
  }

  /* /friendly image width 51px in our clients say about us section */
  .friendlyimg {
    width: 51px;
  }

  /* Trustpilot image width 59px in our clients say about us section */
  .trustpilotwidth {
    width: 59px;
  }

  /* Yellow star width 8px in our clients say about us section */
  .yellowstartwidth {
    width: 8px;
  }

  /* like icon width 22px in our clients say about us section */
  .likethem_w48 {
    width: 22px;
  }

  .btn_subimt {
    padding: 10px 15px;
  }

  .emailinput input {
    max-width: 160px !important;
  }
}

@media (min-width: 1200px) {
  .position_absolute {
    position: absolute;
  }

  .gravelhost_top100 {
    top: 100px;
  }
}

@media (max-width: 1200px) {

  /* nav bar tab and phone size */
  .phone {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    background-color: black;
    height: 50%;
    z-index: 29;
    clip-path: circle(0px at calc(100% - 45px) 45px);
    transition: all 500ms ease-out;
    pointer-events: none;
  }

  .left_0 {
    right: 0;
  }

  .clip_path {
    clip-path: circle(75%);
    pointer-events: all;
  }

  .z_30 {
    z-index: 30;
  }
}

@media (max-width: 576px) {
  .phone {
    width: 100%;
  }
}