.common_heading {
    color: var(--color-clr_white);
    font-family: 'Rubik';
    font-size: var(--fs-8xl);
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}
  
.common_para {
    color: var(--color-clr_offwhite);
    text-align: 'center';
    font-family: 'Rubik';
    font-size: var(--fs-sm);
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}