* {
  list-style: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
}
/* common heading and para */
.common_heading {
  color: var(--color-clr_white);
  font-family: 'Rubik';
  font-size: var(--fs-8xl);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.common_para {
  color: var(--color-clr_white100);
  text-align: 'center';
  font-family: 'Rubik';
  font-size: var(--fs-sm);
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}


/* custom scroll scroll  */
.page_back {
  background-image: url(../src/assets/img/svg/page_back_img.svg);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #0851F6;
  outline: 1px solid #0851F6;
  border-radius: 10px;
}

/* utilites classes */
.c_pointer {
  cursor: pointer;
}

.mw_750 {
  max-width: 750px;
}

.p_20 {
  padding: 20px;
}

.pt_14 {
  padding-top: 14px;
}

.p_25 {
  padding: 25px;
}

.pt_20 {
  padding-top: 20px;
}

.lh_24 {
  line-height: 24px;
}

.pt_10 {
  padding-top: 10px;
}

.mw_1920 {
  max-width: 1920px;
}

.pt_xs_20 {
  padding-top: 20px;
}

.gap_10 {
  gap: 10px;
}

.border_r_10 {
  border-radius: 10px;
}

.p_xs_36 {
  padding: 36px;
}

.border_r_15 {
  border-radius: 10px;
}

.w_55 {
  width: 55px;
}

.mw_457 {
  max-width: 457px;
}

.mw_550 {
  max-width: 550px;
}

.w_48 {
  width: 48px;
}

.w_24 {
  width: 24px;
}

.w_40 {
  width: 40px;
}

.h_48 {
  height: 48px;
}

.lh_143 {
  line-height: 143%;
}

.mt_10 {
  margin-top: 10px !important;
}

.px_5px {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.mw_550 {
  max-width: 550px;
}

.mw_165 {
  max-width: 165px;
}

.ls_4 {
  letter-spacing: 4px;
}

.ls_05 {
  letter-spacing: 0.525px;
}

.pointer {
  cursor: pointer;
}

.z_50 {
  z-index: 50;
}

.opacity_075 {
  opacity: 0.75;
}

/* utilits end */

/* nav and hero */

.box_host::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #00cdfa !important;
  left: 2px;
  top: 4px;
}

.top_btn {
  width: 50px;
  z-index: 10;
}

.top_animtion {
  animation: float 2.4s linear infinite;
  -webkit-animation: float 2.4s linear infinite;
}

.crical_host::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50% !important;
  background: #00cdfa !important;
  z-index: 0;
  left: 0px;
  top: -14px;
}

.btn_login {
  padding: 18px 40px;
}
.btn_login:hover {
  background: linear-gradient(27deg,
      rgba(0, 63, 243, 0.8) 0%,
      rgba(48, 156, 255, 0.8) 100%),
    #2898ff;
}

.line_h28 {
  line-height: 28.5px;
}

.iconsnav a {
  transition: all 0.3s linear;
}

.iconsnav a:hover {
  transform: translateY(-5px);
}

.nav_hvoer {
  position: relative;
}

.nav_hvoer::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  background-color: white;
  border-radius: 5px;
  transition: all 300ms linear;
}

.nav_hvoer:hover::before {
  width: 100%;
  left: 0;
}

.bg_heroimg {
  background-image: url(./assets/img/webp/herobg_image.webp);
  background-repeat: no-repeat;
  top: 0;
  background-size: cover;
}

.letters_2px {
  letter-spacing: 2px;
}

.transforr_90 {
  transform: rotate(90deg);
}

.top_left {
  top: 63px;
  left: 28%;
}

/* hero end */

/* our clients and newslater section start */


/*What Our Clients Say About Us section in card slick slider height same */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide>div {
  display: flex;
}

/* background image product page hero section */
.bg_productimg {
  background-image: url(./assets/img/webp/productimg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

/* slick slider button next and previous and hover effect */
.btn_slider {
  border-radius: 6px;
  background: white;
  box-shadow: 0px 8px 40px 0px rgba(61, 72, 98, 0.2);
  width: 50px;
  height: 50px;
}

.btn_slider:hover {
  background: #034ef7;
  cursor: pointer;
}

.btn_slider:hover svg path {
  stroke: white;
}

.mw_534 {
  max-width: 534px;
}

.bg_imggrap {
  background-image: url(./assets/img/webp/grapbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.friendlyimg {
  width: 110px;
}

.trustpilotwidth {
  width: 127px;
}
.yellowstartwidth {
  width: 18px;
}
.likethem_w48 {
  width: 48px;
}
.wwwcome input {
  outline: none;
}
.wwwcome ::placeholder {
  color: var(--color-clr-gray);
  font-family: DM Sans;
  font-size: 17.071px;
  font-style: normal;
  font-weight: 400;
}
.btn_subimt {
  border-radius: 5px;
  background: linear-gradient(27deg,
      rgba(0, 63, 243, 0.8) 0%,
      rgba(48, 156, 255, 0.8) 100%),
    linear-gradient(0deg, #2898ff 0%, #2898ff 100%), #ff604b;
  padding: 15px 38px;
  transition: all 0.3s linear;
}
.emailinput input {
  outline: none;
}

.emailinput input::placeholder {
  font-family: "Inter";
  color: var(--color-clr-graylight);
  font-weight: normal;
  font-size: var(--fs-lg);
}
/* our clients and newslater section end */

/* feature card start */
.feature_card {
  transition: all 300ms linear;
}

.feature_card:hover {
  transform: scale(1.04);
}

/* features end */

/* modpack components start */
.popular_btn {
  border-radius: 10px;
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
  padding: 16px 32px;
  border: 1px solid transparent;
  transition: all 300ms linear !important;
}

.popular_btn:hover {
  border: 1px solid rgba(14, 75, 254, 0.55);
  background: transparent;
}

.officalr_btn {
  border-radius: 10px;
  border: 1px solid rgba(14, 75, 254, 0.55);
  background: transparent;
  padding: 16px 32px;
  transition: all 300ms linear;
}

.officalr_btn:hover {
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
  padding: 16px 32px;
  border: 1px solid transparent;
}

.started_btn {
  border: 1px solid rgba(14, 75, 254, 0.55);
  background-color: transparent;
  border-radius: 10px;
  transition: all 300ms linear;
}

.started_btn:hover {
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}

.modpack_rightimg {
  right: 0;
  top: 2%;
}

.mod_card:hover {
  transform: scale(1.03);
}

.mod_card {
  transition: all 300ms linear;
}

/* modpack components end */

/* chooseus section start */
.choose_darkbg {
  background-image: url(./assets/img/webp/our_card_black.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.choose_lightbg {
  background-image: url(./assets/img/webp/our_card_light.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cards_h {
  transition: all 300ms linear;
}

.cards_h:hover {
  transform: scale(1.03);
}

/* chooseus section end */

/* pricing section start */
.pricing_right {
  right: -8px;
  bottom: -290px;
}

/* our_left_img */
.our_left_img {
  bottom: -90px;
  left: 200px;
}

@keyframes float {
  0% {
    transform: translatey(0) scale(0.998);
  }

  50% {
    transform: translatey(-7px) scale(1.1023);
  }

  100% {
    transform: translatey(0) scale(0.998);
  }
}

.pricing_startup_btn {
  border: 1px solid rgba(14, 75, 254, 0.55);
  background-color: transparent;
  border-radius: 10px;
  transition: all 300ms linear;
}

.pricing_card:hover {
  transform: translateY(-30px);
}

.pricing_card {
  transition: all 300ms linear;
}

.pricing_startup_btn {
  transition: all 300ms linear;
}

.pricing_popular_btn {
  padding: 10px 22px;
  border-radius: 45px;
  background: rgba(132, 160, 232, 0.10);
  border: none;
  transition: all 300ms linear !important;
  opacity: 0;
}

.pricing_card:hover .pricing_popular_btn {
  opacity: 1;
}

.pricing_card:hover .pricing_startup_btn {
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}

.pricing_top_box {
  top: -10%;
  z-index: 1;
  right: -20%;
}

.clignts_fs_16 {
  font-size: 10px;
}

.pricing_bottom_box {
  bottom: -0.5%;
  left: -8%;
  z-index: 1;
}

.pricing_getbtn {
  padding: 18px 35px;
  border-radius: 90px;
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
  border: 1px solid transparent;
  transition: all 300ms linear;
}

.pricing_getbtn:hover {
  border: 1px solid rgba(14, 75, 254, 0.55);
  background: transparent;
}

/* pricing section end */

/* footer start*/
/* footer background image */
.bg_footerimg {
  background-image: url(./assets/img/png/bgfooter.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 150px 150px 0 0;
  background-size: cover;
}
.footer_s ul li {
  padding-top: 20px;
}
.footer_s ul li a {
  color: #FFF;
  font-family: 'DM Sans';
  font-size: var(--fs-md);
  margin-bottom: 0;
  font-weight: 400;
  transition: all 200ms linear;
}

.footer_s ul li a:hover {
  color: var(--color-clr-blue200);
}

.footer_icon {
  transition: all 300ms linear;
}

.footer_icon:hover {
  transform: translateY(-10px);
}

/* media screen 576 */

@media (min-width:576px) {
  .clignts_fs_16 {
    font-size: 16px;
  }
}

/* media screen 768 */
@media (min-width:768px) {
  .chooseus_bgline {
    top: 40%;
    z-index: 1;
  }

  .p_md_40 {
    padding: 40px;
  }
}

/* media screen 992 */
@media (min-width:992px) {
  .our_card_2 {
    margin-top: -200px !important;
  }

  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }



  .our_box {
    transform: translateY(175px) !important;
  }

  .chooseus_bgline {
    top: 15%;
    z-index: 1;
  }

  .pt_lg_30 {
    padding-top: 30px;
  }

  .pricing_top_box {
    top: -20%;
    z-index: 1;
    right: -20%;
  }

}

/* media min screen 1200 */
@media (min-width: 1200px) {
  .hero_img_overflow{position: absolute;
    width: 100%;
    max-width: 765px;
  top: 25%; right:0;}
  .our_card_1 {
    border-radius: 20px;
  }

  .about_b {
    margin-bottom: -300px !important;
  }

  .about_top {
    transform: translateY(-300px) !important;
    margin-top: 400px;
  }

  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }

  .our_box {
    transform: translateY(250px) !important;
  }

  .position_absolute {
    position: absolute;
  }

  .gravelhost_top100 {
    top: 100px;
  }

  .bg_heroimg {
    height: 108vh;
  }
}

/* media max width screen 1200 */
@media (max-width: 1200px) {

  /* nav bar tab and phone size */
  .phone {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    background-color: black;
    height: 50%;
    z-index: 29;
    clip-path: circle(0px at calc(100% - 45px) 45px);
    transition: all 500ms ease-out;
    pointer-events: none;
  }

  .left_0 {
    right: 0;
  }

  .clip_path {
    clip-path: circle(75%);
    pointer-events: all;
  }

  .z_30 {
    z-index: 30;
  }
}

/* media max width 992 */
@media (max-width: 992px) {
  .our_card_1 {
    border-radius: 20px;
  }

  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }

  .back_effect {
    background-color: #2b70fd;
  }

  .our_card {
    transform: translateY(70px) !important;
  }
}


/* max width 576px */
@media (max-width: 576px) {
  .our_card_1 {
    border-radius: 0px !important;
  }

  .our_card {
    transform: translateY(50px) !important;
  }

  .phone {
    width: 100%;
  }

  .mw_534 {
    max-width: 305px;
  }

  .friendlyimg {
    width: 51px;
  }
  .trustpilotwidth {
    width: 59px;
  }
  .yellowstartwidth {
    width: 8px;
  }

  .likethem_w48 {
    width: 22px;
  }

  .btn_subimt {
    padding: 10px 15px;
  }

  .emailinput input {
    max-width: 160px !important;
  }
}