/* hero */
.box_host::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #00cdfa !important;
  left: 2px;
  top: 4px;
}

.crical_host::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50% !important;
  background: #00cdfa !important;
  z-index: 0;
  left: 0px;
  top: -14px;
}

.ls_4 {
  letter-spacing: 4px;
}

.ls_05 {
  letter-spacing: 0.525px;
}

.pointer {
  cursor: pointer;
}

.z_50 {
  z-index: 50;
}

/* top */
.top_btn {
<<<<<<< HEAD
    width: 50px;
    z-index: 10;
=======
  width: 50px;
  z-index: 80;
>>>>>>> f8e227ff68cd89f1a1722298c4e05524488c3981
}

.top_animtion {
  animation: float 2.4s linear infinite;
  -webkit-animation: float 2.4s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(0) scale(0.998);
  }

  50% {
    transform: translatey(-7px) scale(1.1023);
  }

  100% {
    transform: translatey(0) scale(0.998);
  }
}

/* / */
.opacity_075 {
  opacity: 0.75;
}

/* pricing_right-img */
.pricing_right {
  right: 0px;
  bottom: -290px;
}
/* our_left_img */
.our_left_img {
  bottom: -90px;
  left: 200px;
}
.about_top {
  transform: translateY(-350px);
  margin-top: 300px;
}
.about_b {
  margin-bottom: -300px;
}
.our_card_2 {
  margin-top: -200px;
}
@media (min-width: 992px) {
  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }

  .our_box {
    transform: translateY(175px) !important;
  }
}

@media (min-width: 1200px) {
  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }

  .our_box {
    transform: translateY(250px) !important;
  }
}

@media (max-width: 992px) {
  .our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
  }

  .back_effect {
    background-color: #2b70fd;
  }

  .our_card {
    transform: translateY(70px);
  }
}

@media (max-width: 576px) {
  .our_card {
    transform: translateY(50px);
  }
}
