/* hero */
.box_host::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00CDFA !important;
    left: 2px;
    top: 4px;
}

.crical_host::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
    background: #00CDFA !important;
    z-index: 0;
    left: 2px;
    top: 4px;
}

.ls_4 {
    letter-spacing: 4px;
}

.ls_05 {
    letter-spacing: 0.525px;
}

.pointer {
    cursor: pointer;
}

.z_50 {
    z-index: 50;
}

/* top */
.top_btn {
    width: 50px;
    z-index: 80;
}

.top_animtion {
    animation: float 2.4s linear infinite;
    -webkit-animation: float 2.4s linear infinite;
}

@keyframes float {
    0% {
        transform: translatey(0) scale(.998);
    }

    50% {
        transform: translatey(-7px) scale(1.1023);
    }

    100% {
        transform: translatey(0) scale(.998);
    }
}

/* / */
.opacity_075 {
    opacity: 0.75;
}

.our_box {
    transform: translateY(250px);
}

.our_box {
    background-image: url(../src/assets/img/webp/our_box_img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08);
}