.mw_750 {
    max-width: 750px;
}

.p_20 {
    padding: 20px;
}
.p_25{padding: 25px;}

.border_r_10 {
    border-radius: 10px;
}

.mw_647 {
    max-width: 647px;
}

.w_48 {
    width: 48px;
}
.h_48{height: 48px;}