/* utilites classes */
.mw_750 {
    max-width: 750px;
}

.p_20 {
    padding: 20px;
}

.p_25 {
    padding: 25px;
}

.pt_20 {
    padding-top: 20px;
}

.lh_24 {
    line-height: 24px;
}

.pt_10 {
    padding-top: 10px;
}


.mw_1920 {
    max-width: 1920px;
}

.pt_xs_20 {
    padding-top: 20px;
}

.gap_10 {
    gap: 10px;
}

.border_r_10 {
    border-radius: 10px;
}

.p_xs_36 {
    padding: 36px;
}

.border_r_15 {
    border-radius: 10px;
}

.w_55 {
    width: 55px;
}

.mw_647 {
    max-width: 647px;
}

.w_48 {
    width: 48px;
}

.w_24 {
    width: 24px;
}

.w_40 {
    width: 40px;
}

.h_48 {
    height: 48px;
}

.lh_143 {
    line-height: 143%;
}

.mt_10 {
    margin-top: 10px !important;
}

.px_5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mw_550 {
    max-width: 550px;
}

.mw_165 {
    max-width: 165px;
}

/* feature card start */
.feature_card {
    transition: all 300ms linear;
}

.feature_card:hover {
    transform: scale(1.04);
}

/* modpack components start */
.popular_btn {
    border-radius: 10px;
    background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
    padding: 16px 32px;
    border: 1px solid transparent;
    transition: all 300ms linear !important;
}

.popular_btn:hover {
    border: 1px solid rgba(14, 75, 254, 0.55);
    background: transparent;
}

.officalr_btn {
    border-radius: 10px;
    border: 1px solid rgba(14, 75, 254, 0.55);
    background: transparent;
    padding: 16px 32px;
    transition: all 300ms linear;
}

.officalr_btn:hover {
    background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
    padding: 16px 32px;
    border: 1px solid transparent;
}

.started_btn {
    border: 1px solid rgba(14, 75, 254, 0.55);
    background-color: transparent;
    border-radius: 10px;
    transition: all 300ms linear;
}

.started_btn:hover {
    background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}

.modpack_rightimg {
    right: 0;
    top: 2%;
}

.mod_card:hover {
    transform: scale(1.03);
}

.mod_card {
    transition: all 300ms linear;
}

/* modpack components end */
.choose_darkbg {
    background-image: url(./assets/img/webp/our_card_black.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.choose_lightbg {
    background-image: url(./assets/img/webp/our_card_light.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* pricing section start */
.pricing_startup_btn {
    border: 1px solid rgba(14, 75, 254, 0.55);
    background-color: transparent;
    border-radius: 10px;
    transition: all 300ms linear;
}

.pricing_card:hover {
    transform: translateY(-30px);
}

.pricing_card {
    transition: all 300ms linear;
}

.pricing_startup_btn {
    transition: all 300ms linear;
}

.pricing_popular_btn {
    padding: 10px 22px;
    border-radius: 45px;
    background: rgba(132, 160, 232, 0.10);
    border: none;
    transition: all 300ms linear !important;
    opacity: 0;
}

.pricing_card:hover .pricing_popular_btn {
    opacity: 1;
}

.pricing_card:hover .pricing_startup_btn {
    background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}
.pricing_top_box{top: -10%;
    z-index: 1;
right: -20%;}
.pricing_bottom_box{bottom:-0.5%;
left: -8%;
z-index: 1;}

@media (min-width:576px) {}

@media (min-width:768px) {
    .chooseus_bgline {
        top: 40%;
        z-index: 1;
    }

    .p_md_40 {
        padding: 40px;
    }
   

}

@media (min-width:992px) {
    .chooseus_bgline {
        top: 15%;
        z-index: 1;
    }

    .pt_lg_30 {
        padding-top: 30px;
    }
    .pricing_top_box{top: -20%;
        z-index: 1;
    right: -20%;}

}